
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-face:before { content: '\f30e'; } /* '' */
.icon-insta:before { content: '\f32d'; } /* '' */
